{% extends 'layout.html' %}

{% block title %}Main{% endblock %}

{% block content %}

<div class="container-fluid animated fadeInDownBig">
  <div class="text-center">
    <button class="btn btn-custom btn-lg wavy--shit" type="button">Ben Saphier</button>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-lg-4">
    <p class="wavy--shit">something to fill the space</p>
  </div>
  <div class="col-lg-4">
    <p class="shadow">don't stop the funk</p>
  </div>
</div>

{% endblock %}
